if isUserAuth
  - if (userData.level != undefined)
    p.p(class="group-[.alt]:text-altFontColor")
      strong Your level is: 
      =user.level
    p.p(class="group-[.alt]:text-altFontColor") To change level contact us
  - else
    button(class='button' hx-on:click="openModal('buyDialog'); disableScroll()") Make order
else
  button(hx-on:click="openModal('signinDialog'); disableScroll()" class='button') Sign in
  p(class="group-[.alt]:text-altFontColor mt-2") To buy you need to be signed in 