if isUserAuth
  - if (userData.level != undefined)
    p
      strong Your level is: 
      =user.level
    p To change level contact us
  - else
    button(class='button' hx-on:click="openModal('buyDialog')") Make order
else
  button(hx-on:click="openModal('signinDialog')" class='button') Sign in
  p To buy you need to be signed in 