ul 
  each item in levels 
    li(class='mx-auto my-8 p-8 bg-altBgColor/30 flex justify-between') 
      div(class="flex flex-col justify-between px-4 w-2/3")
        div
          h3.h3=item.data.type
          p.p 
            strong Price: 
            |#{item.data.price} $

        a.button(href="#buy" class="block px-6") Book
      div(class="")
        p.p(class="px-4")
          strong Description: 
          =item.data.description
        div(class="mt-4 px-4")
          p.p 
            strong Included: 
          ul(class="pl-8 list-disc")
            each included in item.data.included
              li
                p.p #{included}