<div class='flex justify-center gap-2'>
  {{#if isUserAuth}}
    <p class="text-nowrap hidden md:block">Hello {{name}}!</p>
    <a class="button" href='/profile'>Profile</a>
  {{else}}
    <button
      hx-on:click="openModal('signinDialog')"
      class='button'
    >Sign in</button>
    <button
      hx-on:click="openModal('signupDialog')"
      class='hidden md:block button'
    >Sign up</button>
  {{/if}}
</div>