<div class='flex justify-center gap-2'>
  {{#if isUserAuth}}
    <h1>Hello {{name}}!</h1>
    <button hx-delete='/api/logout' class='button'>Logout</button>
    <a href='/profile'>Profile</a>
  {{else}}
    <button
      hx-on:click="openModal('signinDialog')"
      class='button'
    >Signin</button>
    <button
      hx-on:click="openModal('signupDialog')"
      class='button'
    >Signup</button>
  {{/if}}
</div>