<div class='flex justify-center gap-2'>
  <button hx-on:click="openModal('signinDialog')" class='button'>Signin</button>
  <button hx-on:click="openModal('signupDialog')" class='button'>Signup</button>
</div>
