div#user(class="p-4 !bg-altBgColor/30 !rounded-none my-4" hx-trigger="reload-user from:body" hx-swap="outerHTML" hx-select="#user" hx-push-url='/admin/users/' + user.id hx-get='/admin/users/' + user.id class="p-2 bg-blue-100 rounded-xl my-4")
  form(hx-put='/api/user/' + user.id hx-swap="none" id="userForm")
    p
      strong name: 
      input.input(class="border-black border-solid border-2 block" type="text" name="name" value=user.name)

    p
      strong email: 
      input.input(class="border-black border-solid border-2 block" type="text" name="email" value=user.email)
    if user.level
      p
        strong level: 
      select.select(class="border-black border-solid border-2 block w-min" name="level")
        each level in levels 
          - if(user.level == level.data.type)
            option.option(value=level.id selected)=level.data.type
          - else
            option.option(value=level.id)=level.data.type  
        option.option(value="") None
    div.message
    div(class="mt-4")
      button.button(type="submit") Accept
      button.button(class="ml-2" hx-swap="outerHTML transition:true" hx-on:click="userForm.removeEventListener('htmx:after-request', formHandler)" hx-select="#content" hx-target="#content" hx-push-url='/admin/users/' + user.id hx-get='/admin/users/' + user.id) Cancel
  script.
    try {
      const userForm = document.querySelector('#userForm');
    } catch {}
      handleForm(userForm);