h2.h2.mt-4 Users
ul
  each user in users 
    li(class="p-2 bg-altBgColor/30 rounded-xl my-4") 
      p(class="font-bold") #{user.name}
      p 
        strong Email: 
        =user.email
      if user.level
        p 
          strong Level type:  
          =user.level
      button(class="button mt-8" hx-swap="outerHTML transition:true" hx-select="#content" hx-target="#content" hx-push-url='/admin/users/' + user.id hx-get='/admin/users/' + user.id) Open
