<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Levels</title>
    <link rel="stylesheet" href="css/style.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <div class="flex gap-4">
        <a href="/" class="font-bold text-xl">Exploring Mars</a>
        <nav>
          <ul>
            <li><a class="link hidden md:block" href="/levels">Levels</a></li>
          </ul>
        </nav>
      </div>

      <div
        hx-trigger="load, reload-user from:body"
        hx-get="/templates/header"
        hx-swap="innerHTML"
        hx-target="this"
      ></div>
    </header>

    <main
      class="wrapper"
      hx-get="/templates/levels"
      hx-target="#levels"
      hx-trigger="load"
      hx-swap="afterbegin"
    >
      <h1 class="h1">levels</h1>
      <p>info about levels</p>

      <section id="levels">
        <div
          hx-get="/templates/buy"
          hx-swap="innerHTML"
          hx-target="this"
          hx-trigger="load, reload-user from:body"
        ></div>
      </section>
    </main>

    <div
      hx-get="/templates/dialogs"
      hx-swap="outerHTML"
      hx-trigger="load"
    ></div>

    <dialog
      class="dialog"
      id="buyDialog"
      hx-get="templates/buy_dialog"
      hx-trigger="intersect"
      hx-swap="innerHTML"
    ></dialog>

    <script src="js/main.js"></script>
  </body>
</html>
