doctype html
html.gutter(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/style.css")
    script(
      src="https://unpkg.com/htmx.org@1.9.10",
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC",
      crossorigin="anonymous"
    )
    title Exploring Mars
  body.slide-it
    include partials/header/header.pug

    section(class="bg-[url('/images/hero.webp')] bg-cover bg-fixed h-[64vh] flex flex-col justify-center")
      div 
        span(class="h1 text-fontColor text-center block") Welcome to Mars Exploration
        span(class="p text-fontColor text-center block") Join us as we uncover the secrets of the Red Planet
        a.button(href="/levels" class="bg-altBgColor text-altFontColor px-10 py-2 mx-auto block mt-8 w-fit") Start your journey!

    section(class="wrapper pt-40 pb-20 flex int")
      div(class="") 
        h1.h1() Discover the unkown
        p.p Mars, the fourth planet from the sun, has been a target for exploration due to its proximity and similarities to Earth. Join us as we delve into its mysteries.
      div
        img(src="/images/logo.png" alt="Company logo")

    section(class=" bg-bgColor pt-40 pb-20")
      h2.h2(class="text-fontColor w-full text-center mb-16") Ready for an adventure?
      div(class="grid grid-rows-1 grid-cols-6 h-[35vh] gap-12 mb-8")
        div(class=" col-span-3")
          img(src="/images/features/landscape.webp" alt="Mars landscape" class='size-full object-cover')
        div(class=" col-span-2 bg-altBgColor/5 p-4 flex flex-col justify-between")
          div 
            h3.h3(class="text-fontColor") Join the Mission
            p.p(class="text-fontColor") Be part of the team that pushes the boundaries of what's possible. Join us in our mission to explore Mars.
          a.link(href='/levels' class="size-fit") Join now
      hr(class="border-b-4 border-altBgColor/30 border border-solid w-1/2 mx-auto my-16 h-1 block rounded-xl")
      div(class="grid grid-rows-1 grid-cols-6 h-[35vh] gap-12 mb-8")
        div(class=" row-start-1 col-start-4 col-span-3")
          img(src="/images/features/colony.webp" alt="Mars landscape" class='size-full object-cover')
        div(class=" row-start-1 col-start-2 col-span-2 bg-altBgColor/5 p-4 flex flex-col justify-between")
          div 
            h3.h3(class="text-fontColor") Get in Touch
            p.p(class="text-fontColor") Have any questions or suggestions? We'd love to hear from you.
          a.link(href='#contactSection' class="size-fit self-end") Contact us
      hr(class="border-b-4 border-altBgColor/30 border border-solid w-1/2 mx-auto my-16 h-1 block rounded-xl")
      div(class="grid grid-rows-1 grid-cols-6 h-[35vh] gap-12 mb-8")
        div(class=" col-span-3")
          img(src="/images/features/colony_street.webp" alt="Mars landscape" class='size-full object-cover')
        div(class=" col-span-2 bg-altBgColor/5 p-4 flex flex-col justify-between")
          div 
            h3.h3(class="text-fontColor") Our Team
            p.p(class="text-fontColor") Meet the dedicated team of scientists, engineers, and explorers who make our mission possible.

      section(class="wrapper bg-bgColor pt-40 pb-20")
        h2.h2(class="text-fontColor w-full text-center mb-8") Joining our Mars exploration tour is a simple process
        p.p(class="text-fontColor text-center mb-16")  Here's a step-by-step guide:
        ul(class="divide-y-4 divide-solid divide-altBgColor/30")
          li(class="flex justify-start items-start gap-4 border-t-4 border-altBgColor/30 py-8")
            div(class=" max-h-24 aspect-square bg-fontColor/30 p-2 rounded-[100%]")
              img(src="/images/star_solid.svg" class="size-full")
            details(class="*:mb-[-10px] *:open:mb-[10px] size-full")
              summary(class="h3 mt-2 text-fontColor transition-all") Register on our website 
                p.p(class="text-fontColor")
              p.p You'll need to provide some basic information about yourself.
          li(class="flex justify-start items-start gap-4 border-t-4 border-altBgColor/30 py-8")
            div(class=" max-h-24 aspect-square bg-fontColor/30 p-2 rounded-[100%]")
              img(src="images/controller-settings-svgrepo-com.svg" class="scale-75 size-full")
            details(class="*:mb-[-10px] *:open:mb-[10px] size-full")
              summary(class="h3 mt-2 text-fontColor transition-all") Choose the level of the tour that suits you best 
                p.p(class="text-fontColor") 
              p.p We offer different levels of exploration, each with its own unique experiences.
          li(class="flex justify-start items-start gap-4 !border-y-4 border-altBgColor/30 py-8")
            div(class=" max-h-24 aspect-square bg-fontColor/30 p-2 rounded-[100%]")
              img(src="images/money-cash-business-cart-finance-svgrepo-com.svg" class="size-full")
            details(class="*:mb-[-10px] *:open:mb-[10px] size-full")
              summary(class="h3 mt-2 text-fontColor transition-all") Proceed to payment
                p.p(class="text-fontColor")
              p.p After your payment is confirmed, you'll receive a confirmation email from us. This email will contain all the details about your tour.
          li(class="flex justify-start items-start gap-4 !border-y-4 border-altBgColor/30 py-8")
            div(class=" max-h-24 aspect-square bg-fontColor/30 p-2 rounded-[100%]")
              img(src="images/astronaut-dog-svgrepo-com.svg" class="scale-75 size-full")
            details(class="*:mb-[-10px] *:open:mb-[10px] size-full")
              summary(class="h3 mt-2 text-fontColor transition-all") Wait for our team to get in touch 
                p.p(class="text-fontColor")
              p.p We'll provide you with all the necessary information and answer any questions you might have

    section(id="contactSection" class=" wrapper bg-[url('/images/hero.webp')] bg-cover bg-fixed pt-40 pb-20")
      h2.h2(class="text-fontColor text-center w-full col-span-2") Contact Us
      div(class="size-fit mx-auto col-start-2 p-4 bg-bgColor/60 flex gap-2 flex-col justify-items-center")
        h3.h3(class="text-fontColor") Have any questions or need more info?
        p.p(class="text-fontColor") Don't hesitate to reach out to us. We're here to help.
        div(class="flex gap-4")
          img(src="/images/icons/phone.svg" class="aspect-square h-6" alt="mail icon")
          a.link(href="tel:+999999999" class="block") +999999999999
        div(class="flex gap-4")
          img(src="/images/icons/mail.svg" class="aspect-square h-6" alt="phone icon")
          a.link(href="mailto:mars@expo.mars" class="block") mars@expo.mars
        p.p(class="text-fontColor") Where we are located:
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2543.9230831840227!2d-74.00157556616608!3d40.690459887922366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a451e187d7d%3A0x29027197a5881aef!2zODgtOTYgQW1pdHkgU3QsIEJyb29rbHluLCBOWSAxMTIwMSwg0KHQqNCQ!5e0!3m2!1sru!2sru!4v1707845449715!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    include partials/footer.pug

    script(src="js/main.js")
    include partials/dialogs.pug
    script(src="/js/index_levels_observer.js") 