doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Levels
    link(rel="stylesheet" href="css/style.css")
    script(
      src="https://unpkg.com/htmx.org@1.9.10",
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC",
      crossorigin="anonymous"
    )
  body 
    include partials/header/header.pug

    main.wrapper 
      h1.h1 Levels
      p info about levels
      include partials/levels/levels.pug

      div(hx-get='views/buy_level' hx-trigger="reload-user from:body" hx-swap='innerHTML' hx-target='this')
        include partials/levels/buy_level.pug

  script(src="js/main.js")
  include partials/dialogs.pug
  include partials/levels/dialog.pug