doctype html
html.gutter(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Levels
    link(rel="stylesheet" href="css/style.css")
    script(
      src="https://unpkg.com/htmx.org@1.9.10",
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC",
      crossorigin="anonymous"
    )
  body.slide-it
    include partials/header/header.pug

    section(class="bg-[url('/images/hero.webp')] bg-cover bg-fixed h-[32vh] flex flex-col justify-center")
      div 
        span(class="h1 text-fontColor mt-8 text-center block") Levels
    section(class="wrapper pt-40 pb-8 int")
      h1.h1 Explore Mars Your Way
      p.p We offer three different levels of exploration to cater to your adventurous spirit. Choose the one that suits you best.
      a.button(href="#buy" class="block w-fit mt-8") Buy now!
    section(class="grid grid-cols-3 grid-rows-2 gap-2 h-[100vh] mt-40 py-8")
      img(src="/images/levels/image1.webp" class="size-full object-cover ")
      img(src="/images/levels/image2.webp" class="size-full object-cover ")
      img(src="/images/levels/image3.webp" class="size-full object-cover ")
      img(src="/images/levels/image4.webp" class="size-full object-cover ")
      img(src="/images/levels/image5.webp" class="size-full object-cover col-span-2")

    section(class="wrapper pt-40 my-8")
      h2.h2 Choose the level that suits your desires:
      p.p Exploring Mars offers unique and exciting tours to Mars for everyone who craves adventure and new knowledge.
    section(class="wrapper mt-10 py-8")

      include partials/levels/levels.pug

    section(class="wrapper mt-10 py-8 bg-altBgColor") 
      h3.h3(class="text-altFontColor") Choose level you liked and buy it now!
      p.p(class="text-altFontColor") 
      div(hx-get='views/buy_level' id="buy" hx-trigger="reload-user from:body" hx-swap='innerHTML' hx-target='this' class="my-8 group alt")
        include partials/levels/buy_level.pug

    include partials/footer.pug

    script(src="js/main.js")
    include partials/dialogs.pug
    include partials/levels/dialog.pug
    script(src="/js/index_levels_observer.js") 