footer(class="wrapper py-20 flex divide-x-2 divide-altBgColor/30")
  div(class="p-4")
    div 
      div(class="flex items-end")
        div(class="aspect-square h-24")
          img(src="/images/logo.png" alt="")
        span.h3 Exploring Mars
      p.p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis rem mollitia exercitationem! Veniam, maiores. Necessitatibus.
    div(class="flex mt-4 gap-4")
      a(href="/" class="p-2 rounded-[100%] block h-12 bg-altBgColor aspect-square text-altFontColor")
        img(src="/images/icons/mail.svg" class="size-full") 
      a(href="/" class="p-2 rounded-[100%] block h-12 bg-altBgColor aspect-square text-altFontColor")
        img(src="/images/icons/mail.svg" class="size-full") 
      a(href="/" class="p-2 rounded-[100%] block h-12 bg-altBgColor aspect-square text-altFontColor")
        img(src="/images/icons/mail.svg" class="size-full") 

  div(class="p-4 w-[33%]")
    span.p(class="font-bold") Links
    nav(class='hidden md:block')
      ul
        li
          a.link(href="/levels") Levels
  div(class="p-4 w-[33%]")     
    span.p(class="font-bold") Contact
    a.link(href="tel:+999999999" class="block") +999999999999
    a.link(href="mailto:mars@expo.mars" class="block") mars@expo.mars