footer(class="wrapper py-20 flex divide-x-2 divide-altBgColor/30")
  div(class="p-4")
    div 
      span logo 
      span.h3 Exploring Mars
      p.p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis rem mollitia exercitationem! Veniam, maiores. Necessitatibus.
    div 
      a(href="/") inst
      a(href="/") facebook 
      a(href="/") x 


  div(class="p-4")
    span.p(class="font-bold") Links
    ul 
      li 
        a(href="/") Lorem.
        a(href="/") Lorem, ipsum.
        a(href="/") Lorem.
  div(class="p-4")     
    span.p(class="font-bold") Contact
    a.link(href="tel:+999999999" class="block") +999999999999
    a.link(href="mailto:mars@expo.mars" class="block") mars@expo.mars