@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-bgColor;
  }
  html {
    @apply text-fontColor;
  }
  .button {
    @apply p-2 font-bold bg-actionColor text-fontColor text-nowrap;
  }
  .input {
    @apply p-2 bg-bgColor/10 transition-all duration-150 outline outline-transparent outline-4;
  }
  .input:focus-visible {
    outline: white !important;
  }
  .input-error {
    @apply outline-4 outline-red-600 outline;
  }
  .button:disabled {
    @apply bg-actionColor/70 cursor-not-allowed;
  }
  .wrapper {
    @apply w-full px-[15vw] bg-bgColor;
  }
  .link {
    @apply font-bold text-actionColor hover:text-actionColor/80 underline;
  }
  .h1 {
    @apply font-bold text-6xl mb-16;
  }
  .h2 {
    @apply font-bold text-5xl mb-16;
  }
  .h3 {
    @apply font-bold text-4xl mb-8;
  }
  .p {
    @apply text-2xl leading-10 break-words mb-4;
  }
  .header {
    @apply flex items-center bg-transparent justify-between sticky h-16 px-20;
  }
  .dialog {
    @apply p-4 bg-altBgColor backdrop:backdrop-blur-sm backdrop:bg-bgColor/50;
  }
  .select {
    @apply w-full p-4 bg-[#535353];
    
  }
  .option {
    @apply bg-[#535353] rounded-none;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(90px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-90px);
  }
}

.slide-it {
  view-transition-name: slide-it;
}

::view-transition-old(slide-it) {
  animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}
::view-transition-new(slide-it) {
  animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

.gutter {
  scrollbar-gutter: stable;
}

html,
body {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: rgba(151, 151, 151, 0.493);
}
