div(class='flex justify-center gap-2')
  if isUserAuth
    p(class='text-nowrap') hello #{userData.name}
    a.button(href="/profile") Profile 
  else
    button.button(hx-on:click="openModal('signinDialog')") Sign in
    button(class='button hidden md:block' hx-on:click="openModal('signupDialog')") Sign up