header(class="flex items-center bg-transparent justify-between fixed w-full h-16 py-4 px-20 z-10 group")
  div(class="flex gap-8 items-center")
    a(class="font-bold text-xl text-fontColor" href="/") Exploring Mars
    nav(class='hidden md:block')
      ul
        li
          a.link(href="/levels" class="no-underline text-fontColor group-[.intersect]:text-actionColor transition-all") Levels

  div(hx-trigger="reload-user from:body" hx-get="/views/header" hx-swap="innerHTML" hx-target="this")
    include header_sign.pug