div#level(hx-trigger="reload-level from:body" hx-swap="outerHTML" hx-select="#level" hx-push-url='/admin/levels/' + level.id hx-get='/admin/levels/' + level.id class="p-2 bg-blue-100 rounded-xl my-4")
  form(hx-post='/api/level/' + level.id)
    p
      strong type: 
    input.input(class="border-black border-solid border-2" name="type" value=level.data.type)
    p
      strong description:  
    textarea.input(class="border-black border-solid border-2" name="description")=level.data.description
    p
      strong price:  
    input.input(class="border-black border-solid border-2" name="price" value=level.data.price)
    p 
      strong included: 
    -var includedString = level.data.included.join('; ')
    textarea.input(class="border-black border-solid border-2" name="included")=includedString
    div
      button.button(type="submit") Accept
      button.button(class="ml-2" hx-swap="outerHTML" hx-select="#content" hx-target="#content" hx-push-url='/admin/levels/' + level.id hx-get='/admin/levels/' + level.id) Cancel